body {
	background-color: #222222;
}

.hide {
	display: none;
}

#loadingScreen {
	text-align: center;
	color: white;
	padding: 30px;
}

#loadingScreen > p {
	margin-top: 20px;
}

#speciesPanel {
	user-select: none;
}

#closeSpeciesPanel {
	width: 21px;
    height: 23px;
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    position: sticky;
    float: right;
    right: 4px;
    top: 5px;
    z-index: 3;
    cursor: pointer;
}

#speciesPanelInfoDisplay {
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	clear: right;
}

.moveTypeWrapper, .moveSplitWrapper {
	min-width: 89px;
}

.infoSprite {
	height: 128px;
	width: 128px;
	image-rendering: pixelated;
}


.infoStatWrapper {
	display: flex;
	align-items: center;
}

.infoStatLabel {
	width: 33px;
	text-align: left;
}

.infoStatValue {
	width: 26px;
	text-align: right;
}

.infoStatBar {
	border-radius: 3px;
	border: solid 1px black;
	margin-left: 4px;
	height: 17px;
}

.infoChangelogTypesWrapper {
    display: flex;
    align-items: center;
}

.infoChangelogBuff {
	color: #05c905;
}

.infoChangelogNerf {
	color: #f83f3f;
}

.tableName {
	color: white;
	font-weight: 550;
	font-size: 1.2rem;
}

#speciesControl {
	padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
	justify-content: center;
}

#speciesFilterInput, #speciesFilterCategory, #speciesFilterSeparator {
	display: block;
    padding: 0.2rem;
    border-radius: 3px;
    border: 2px solid gray;
	background: none;
    color: white;
    font-weight: 550;
	appearance: none;
	margin: 0;
}

#speciesFilterCategory {
	text-align: center;
	border-right: none;
	border-radius: 3px 0 0 3px;
	cursor: pointer;
}

#speciesFilterCategory option {
	background: black;
}

#speciesFilterSeparator {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

#speciesFilterInput {
	border-left: none;
	border-radius: 0 3px 3px 0;
	width: 145px;
}

#speciesFilterInput::-webkit-calendar-picker-indicator {
  display: none !important;
}

#activeFilters {
	display: flex;
}

.activeFilter {
	color: white;
    background-color: black;
    padding: 0.2rem;
    border-radius: 3px;
    border: solid;
    display: inline-block;
}

.tableWrapper {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
}

.table {
	width: 90%;
	margin-inline: auto;
	user-select: none;
	cursor: pointer;
	box-shadow: black 2px 2px 8px 0px;
	position: relative;
	z-index: 0;
}

.sortControls {
	background-color: rgb(42, 48, 54);
	position: sticky;
	top: -1px;
	z-index: 1;
	font-weight: 700;
}

.table thead th {
	border: none;
}

.sortLocked {
	cursor: auto;
}

.active, .sortOption:hover, #speciesFilterInput:hover, #speciesFilterCategory:hover, #speciesFilterInput:focus {
	background: rgba(255, 255, 255, 0.075);
}

.sortAscending::before {
	content: "↑";
}

.sortDescending::before {
	content: "↓";
}

.table td, .table th {
	padding: 0.4rem;
	vertical-align: middle!important;
}

.speciesRow {
	height: 85.8px;
}

.speciesDexIDWrapper {
	min-width: 67.9px;
	font-weight: 700;
}

td.speciesSpriteWrapper {
	padding: 0px;
}

.speciesSprite {
	height: 64px;
	width: 64px;
}

.speciesNameWrapper {
	min-width: 120.6px;
}

.speciesNameRegion, .speciesNameForm, .infoNameRegion, .infoNameForm {
	font-style: italic;
}

.speciesNameName {
	font-weight: 700;
}

.infoNameName {
	font-size: 1.2rem;
}

.speciesTypesWrapper {
	min-width: 165.4px;
}

.typeWrapper {
	width: 70.3px;
	padding: 2px;
	display: inline-block;
	border-radius: 5px;
	margin: 2px 3px;
	font-weight: 550;
	text-shadow: 1px 1px black;
}

.speciesAbilitiesWrapper, .infoAbilitiesWrapper {
	font-style: italic;
}

.speciesAbilitiesWrapper {
	min-width: 148.2px;
}

.speciesAbilitiesHidden, .infoAbilitiesHidden {
	font-weight: 700;
}

.speciesStatWrapper {
	min-width: 51.1px;
}

.speciesStatLabel {
	font-style: italic;
}

@media (max-width: 991.98px) {
	
	.table {
		min-width: 487px;
	}
	
	.sortLocked, .moveDescriptionWrapper {
		display: none;
	}
	
	.table td {
		border: none;
	}
	
	#speciesTable .sortOption {
		display: inline-block;
		width: 20%;
		border: none;
	}
	
	.speciesRow {
		position: relative;
		height: 180px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.speciesRow td {
		display: inline-block;
	}
	
	.speciesDexIDWrapper {
		position: absolute;
		left: 21%;
		top: 24px;
	}
	
	.speciesSpriteWrapper, .speciesNameWrapper, #speciesTable .speciesTypesWrapper {
		width: 33%;
	}
	
	td.speciesNameWrapper {
		height: 84.8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.speciesAbilitiesWrapper {
		width: 100%;
	}
	
	.speciesAbilitiesPrimary, .speciesAbilitiesSecondary, .speciesAbilitiesHidden {
		display: inline-block;
		width: 33%;
	}
	
	.speciesStatWrapper {
		width: 14%;
	}
}