body {
	background-color: #222222;
}

#speciesControl {
	padding: 30px;
}

#speciesInput {
	display: block;
    margin: auto;
    padding: 0.2rem;
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: none;
    color: white;
    font-weight: 550;
    width: 300px;
}

#tableWrapper {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    
}

.table {
	width: 90%;
	margin-inline: auto;
	user-select: none;
	cursor: pointer;
	box-shadow: black 2px 2px 8px 0px;
	position: relative;
	z-index: 0;
}

.sortLocked {
	cursor: auto;
}

.active, th[ID]:hover, #speciesInput:hover, #speciesInput:focus {
	background: rgba(255, 255, 255, 0.075);
}

.sortAscending::before {
	content: "↑";
}
.sortDescending::before {
	content: "↓";
}

.table td, .table th {
	padding: 0.4rem;
	vertical-align: middle!important;
}

.sortControl {
	background-color: rgb(42, 48, 54);
	position: sticky;
	top: -1px;
	z-index: 1;
}

.sortControl th {
	font-weight: 700;
}

.speciesRow {
	height: 85.8px;
}

.speciesDexIDCell {
	min-width: 67.9px;
	font-weight: 700;
}

td.speciesSpriteCell {
	padding: 0px;
}

.speciesSprite {
	height: 64px;
	width: 64px;
}

.speciesNameCell {
	min-width: 120.6px;
}

.speciesRegion, .speciesForm {
	font-style: italic;
}

.speciesName {
	font-weight: 700;
}

.speciesTypeCell {
	min-width: 165.4px;
}

.speciesType {
	width: 70.3px;
	padding: 2px;
	display: inline-block;
	border-radius: 5px;
	margin: 2px 3px;
	font-weight: 550;
	text-shadow: 1px 1px black;
}

.speciesAbilitiesCell {
	min-width: 148.2px;
	font-style: italic;
}

.speciesAbilityHidden {
	font-weight: 700;
}

.speciesStatCell {
	min-width: 51.1px;
}

.speciesStatLabel {
	font-style: italic;
}

@media (max-width: 991.98px) {
	
	.table {
		min-width: 487px;
	}
	
	.sortLocked {
		display: none;
	}
	
	.table td {
		border: none;
	}
	
	.table th[ID] {
		display: inline-block;
		width: 20%;
		border: none;
	}
	
	.speciesRow {
		position: relative;
		height: 180px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.speciesRow td {
		display: inline-block;
	}
	
	.speciesDexIDCell {
		position: absolute;
		left: 21%;
		top: 24px;
	}
	
	.speciesSpriteCell, .speciesNameCell, .speciesTypeCell {
		width: 33%;
	}
	
	td.speciesNameCell {
		height: 84.8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.speciesAbilitiesCell {
		width: 100%;
	}
	
	.speciesAbilityPrimary, .speciesAbilitySecondary, .speciesAbilityHidden {
		display: inline-block;
		width: 33%;
	}
	
	.speciesStatCell {
		width: 14%;
	}
}