body {
	background-color: #222222;
}

.hide {
	display: none;
}

#loadingScreen {
	text-align: center;
	color: white;
	padding: 30px;
}

#loadingScreen > p {
	margin-top: 20px;
}

#speciesControl {
	padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
	justify-content: center;
}

#speciesFilterInput, #speciesFilterCategory, #speciesFilterSeparator {
	display: block;
    padding: 0.2rem;
    border-radius: 3px;
    border: 2px solid gray;
	background: none;
    color: white;
    font-weight: 550;
	appearance: none;
	margin: 0;
}

#speciesFilterCategory {
	text-align: center;
	border-right: none;
	border-radius: 3px 0 0 3px;
}

#speciesFilterCategory option {
	background: black;
}

#speciesFilterSeparator {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

#speciesFilterInput {
	border-left: none;
	border-radius: 0 3px 3px 0;
	width: 145px;
}

#speciesFilterInput::-webkit-calendar-picker-indicator {
  display: none !important;
}

.tableWrapper {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
}

.table {
	width: 90%;
	margin-inline: auto;
	user-select: none;
	cursor: pointer;
	box-shadow: black 2px 2px 8px 0px;
	position: relative;
	z-index: 0;
}

.sortControls {
	background-color: rgb(42, 48, 54);
	position: sticky;
	top: -1px;
	z-index: 1;
	font-weight: 700;
}

.table thead th {
	border: none;
}

.sortLocked {
	cursor: auto;
}

.active, .sortOption:hover, #speciesFilterInput:hover, #speciesFilterButton:hover, #speciesFilterInput:focus {
	background: rgba(255, 255, 255, 0.075);
}

.sortAscending::before {
	content: "↑";
}

.sortDescending::before {
	content: "↓";
}

.table td, .table th {
	padding: 0.4rem;
	vertical-align: middle!important;
}

.speciesRow {
	height: 85.8px;
}

.speciesDexIDCell {
	min-width: 67.9px;
	font-weight: 700;
}

td.speciesSpriteCell {
	padding: 0px;
}

.speciesSprite {
	height: 64px;
	width: 64px;
}

.speciesNameCell {
	min-width: 120.6px;
}

.speciesRegion, .speciesForm {
	font-style: italic;
}

.speciesName {
	font-weight: 700;
}

.speciesTypeCell {
	min-width: 165.4px;
}

#speciesPanelLearnsets .speciesTypeCell, .moveSplitCell {
	min-width: 89px;
}

.typeWrapper, .splitWrapper {
	width: 70.3px;
	padding: 2px;
	display: inline-block;
	border-radius: 5px;
	margin: 2px 3px;
	font-weight: 550;
	text-shadow: 1px 1px black;
}

.speciesAbilitiesCell {
	min-width: 148.2px;
	font-style: italic;
}

.speciesAbilityHidden {
	font-weight: 700;
}

.speciesStatCell {
	min-width: 51.1px;
}

.speciesStatLabel {
	font-style: italic;
}

@media (max-width: 991.98px) {
	
	.table {
		min-width: 487px;
	}
	
	.sortLocked, .moveDescription {
		display: none;
	}
	
	.table td {
		border: none;
	}
	
	#speciesTable .sortOption {
		display: inline-block;
		width: 20%;
		border: none;
	}
	
	.speciesRow {
		position: relative;
		height: 180px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.speciesRow td {
		display: inline-block;
	}
	
	.speciesDexIDCell {
		position: absolute;
		left: 21%;
		top: 24px;
	}
	
	.speciesSpriteCell, .speciesNameCell, #speciesTable .speciesTypeCell {
		width: 33%;
	}
	
	td.speciesNameCell {
		height: 84.8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.speciesAbilitiesCell {
		width: 100%;
	}
	
	.speciesAbilityPrimary, .speciesAbilitySecondary, .speciesAbilityHidden {
		display: inline-block;
		width: 33%;
	}
	
	.speciesStatCell {
		width: 14%;
	}
}